@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
@*<h3>@ViewBag.Message</h3>*@


<div class="jumbotron">
    <h1></h1>
    <p class="lead">
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill
        OMinds is a team of talented people for building great ideas, Innovation. Using there own skill.
    </p>

    <p><a href="https://OMinds.azurewebsites.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>