@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    OM industries Pvt Ltd <br />
    Kolhapur<br />
    <abbr title="Phone">Phone:</abbr>
    +91 986055968
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@OMinds.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@OMinds.com">Marketing@example.com</a>
</address>